<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/css/styles.css">  
</head>
<body>
    <nav class="navbar">
        <div class="container-md">
            <a class="forum" href="#">FORUM</a>
            <a class="login" href="/login">Log in</a>
            <a class="login" href="/signup">Sign up</a>
        </div>
    </nav>
 
 
    <section class="filter-content">
        <!-- Left Section for Filters -->
        <div class="left-section">
            <h2>Filter Categories</h2>
            <form>
                <label>
                    <input type="checkbox" name="category1"> Category 1
                </label>
                <label>
                    <input type="checkbox" name="category2"> Category 2
                </label>
                <label>
                    <input type="checkbox" name="category3"> Category 3
                </label>
                <label>
                    <input type="checkbox" name="category3"> Category 4
                </label>
                <label>
                    <input type="checkbox" name="category3"> Category 5
                </label>
                <button type="submit">Apply Filters</button>
            </form>
        </div>
         <!-- Right Section for Content -->
         <div class="right-section">
            <h3>Content Area</h3>
        </div>
    </section>
    <script src="static/js/post.js"></script>
</body>
</html>
